<template>
  <IonApp>
    <IonRouterOutlet></IonRouterOutlet>
  </IonApp>
</template>

<script>
import { IonApp, IonRouterOutlet } from '@ionic/vue';
export default {
  components:{
    IonApp, IonRouterOutlet 
  }
}
</script>

<style></style>
